/*  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* foto fondo para todo proyecto */
.cuerpo-principal {
  background-image: url(../imagenesproyecto/background-g4691bdaf0_1920.jpg);
  background-position: center center;
  background-size: cover; }

/*titulo, sub titulo y logo con grid y sass para todas las paginas*/
.headerConGrid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  grid-template-rows: 80px  20px;
  align-items: center;
  grid-template-areas: "logo titulo titulo titulo" "logo subtitulo subtitulo telefono";
  padding-bottom: 20px; }
  .headerConGrid .sectorLogo {
    grid-area: logo;
    background-size: cover; }
  .headerConGrid .sectorLogo {
    animation-duration: 2s;
    animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
  .headerConGrid .sectorTitulo {
    grid-area: titulo;
    color: #0c0b0a;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    animation-duration: 2s;
    animation-name: slidein; }
  .headerConGrid .sectorSubTitulo {
    grid-area: subtitulo;
    color: orangered;
    display: flex;
    flex-wrap: wrap; }
  .headerConGrid .sectorTelefono {
    grid-area: telefono; }
  .headerConGrid .logo11 {
    width: 110px;
    height: 100px; }

/*nav bar de bootstrap con css para todas las paginas*/
.sticky-top .navbar-nav .nav-link.active, .sticky-top .navbar-nav .show > .nav-link, .sticky-top .navbar-brand, .logo-whatsapp .navbar-nav .nav-link.active, .logo-whatsapp .navbar-nav .show > .nav-link, .logo-whatsapp .navbar-brand {
  color: orangered; }

.sticky-top .iconoWhatsapp, .logo-whatsapp .iconoWhatsapp {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 7%;
  left: 7%; }

.sticky-top .d-flex .btn-outline-success, .logo-whatsapp .d-flex .btn-outline-success {
  color: orangered;
  border-color: #ff9500; }

/*pagina impresiones 3d */
.Titulo-Principal-3d {
  margin-top: 20px;
  margin-bottom: 20px;
  color: orangered;
  justify-items: center;
  display: flex; }
  .Titulo-Principal-3d .titulo-principal-3d-titulo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; }

.fotos-Trabajos-3d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.foto-trabajos-3d-imagen {
  width: 250px;
  height: 250px;
  box-shadow: 7px 7px 15px #592A08;
  border-radius: 50px 50px;
  margin-top: 20px; }

.parrafos-3d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  border: solid 2px blanchedalmond;
  border-radius: 50px 50px;
  box-shadow: 7px 7px 56px #0f0b08;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 20px;
  background-color: #bab4b4;
  margin-left: auto;
  margin-right: auto; }
  .parrafos-3d .subTitulo3d {
    color: orangered; }

/*pagina stand */
.seccion-principal-stand {
  margin-top: 5%;
  margin-bottom: 5%;
  color: orangered;
  justify-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; }
  .seccion-principal-stand .titulo-principal-stand {
    margin-top: 10%; }

.seccion-fotos-stand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .seccion-fotos-stand .fotos-stand {
    width: 250px;
    height: 250px;
    box-shadow: 7px 7px 15px #592A08;
    border-radius: 50px 50px;
    margin-top: 20px; }

.seccion-parrafo-stand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  border: solid 2px blanchedalmond;
  border-radius: 50px 50px;
  box-shadow: 7px 7px 56px #0f0b08;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 20px;
  background-color: #bab4b4;
  margin-left: auto;
  margin-right: auto; }
  .seccion-parrafo-stand .titulo-seccion-stand {
    color: orangered;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }

/*pagina contacto */
.seccion-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .seccion-contacto .seccion-contacto-titulo {
    margin-top: 50px;
    color: orangered; }
  .seccion-contacto .seccion-contacto-formulario {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around; }
  .seccion-contacto .seccion-contacto-formulario-etiqueta-ppal {
    color: orangered;
    font-size: large;
    font-weight: 500; }
  .seccion-contacto .seccion-contacto-formulario-etiqueta {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    align-content: center;
    width: 300px;
    border: solid 2px blanchedalmond;
    border-radius: 50px 50px;
    box-shadow: 7px 7px 15px #592A08; }
  .seccion-contacto #consulta {
    height: 200px; }
  .seccion-contacto .seccion-contacto-foto-mapa {
    width: 550px;
    height: 350px;
    margin-left: 10%;
    margin-top: 20px;
    border: solid 2px blanchedalmond;
    border-radius: 50px 50px;
    box-shadow: 7px 7px 15px #592A08;
    margin-right: 100px; }
  .seccion-contacto .btn-outline-success {
    color: orangered;
    border-width: 4px;
    border-color: #e35c0e;
    font-weight: 500; }
  .seccion-contacto .seccion-contacto-titulo-mapa {
    margin-left: 10%; }

/*footer todas las paginas*/
.footer .titulo-footer {
  margin-left: auto;
  margin-right: auto; }

.footer .icono-redes {
  width: 45px;
  height: 45px; }

.footer .logo-did-footer {
  display: inline-block;
  width: 60px;
  height: 60px; }
